<p></p>

<form>
  <fieldset>
    <header>
    <legend></legend>
   
     <div class="form-group row">
     <label for="" class="col-sm-1 col-form-label"></label>
    <label  for="" class="col-sm-10 col-form-label" id="morado"><h2 >Las motocicletas que vienen serán inteligentes, autónomas,
        <p></p>
        <label for="" class="col-sm-2 col-form-label"></label>  
        eléctricas y se comunicarán con las infraestructuras.</h2></label>
      <p></p>
     </div>

<div class="card-group">
        <div class="card">
                <img src="http://placehold.it/250x250" alt="">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
                <img src="http://placehold.it/250x250" alt="">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="http://placehold.it/250x250" alt="">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>

 
     <section>
       <img src="C:\angular\proyecto\src\img/ino1.jpg" alt="Innovaciones" >
     </section>

        <div class="col-md-12">
          <a href="C:\angular\proyecto\src\img/ino1.jpg">
                <img src="\img\ino1.jpg" alt="Image" style="max-width:100%;">
            </a>
        </div> 
    

      <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label"></label>
          <label for="" class="col-sm-8 col-form-label">Quien se sube a una Harley Davidson en España para recorrer Portugal de arriba abajo, por ejemplo, no cree que su moto sea un medio de transporte. No piensa en tecnología ni en soluciones de futuro. No piensa, solo siente. Sin embargo, para la industria de la moto el aspecto pasional no puede ser el único,y en ese dibujo más racional se aprecia una evolución paralela entre los coches y las motocicletas.
              <p></p>
              Y si eso es así, entonces se abren dos vías principales: electrificación y vehículos autónomos. Respecto a lo primero, no hay duda de que tarde o temprano las motos serán eléctricas, porque de hecho unas cuantas (sobre todo en el segmento de las urbanas) ya lo son. Pero, ¿de verdad tiene sentido una moto autónoma?
              </label>
        </div>
      </header>
  </fieldset>
</form>

<div class="form-group row">
    <label for="" class="col-sm-5 col-form-label"></label>
<img src="http://placehold.it/250x250" alt="">
</div>
  
