<div class="form-group row">
    <label for="" class="col-sm-1 col-form-label"><h1></h1></label>
     <p></p>
    </div>

<div class="card-group">
        <div class="card">
                <img src="http://placehold.it/250x250" alt="">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
                <img src="http://placehold.it/250x250" alt="">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="http://placehold.it/250x250" alt="">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>



<p></p>
<div class="jumbotron">
        <h1 class="display-4">Vive tu vida un kilomentro a la vez!</h1>
        <p class="lead">Mas que un pasatiempo... UN ESTILO DE VIDA!</p>
        <p></p>
      </div>
      <!--Columnas-->
      <div class="form-group row">
            <label for="" class="col-sm-5 col-form-label"></label>
      </div>

      <div class="row "> 
          <div class="col-md-8">
            <h2>Historia y curiosidades:</h2>
            <div class="jumbotron">  
                    <h1 class="display-5">Hello, world!</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-5">
                    <img src="http://placehold.it/500x500" alt="">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> <p></p>
                  </div>
            </div>     
          </div>
        
      
    

   

      