<p></p>

<form>
  <fieldset>
    <legend><h2>CHOPPER</h2></legend>

    <div class="card-group">
            <div class="card">
                    <img src="http://placehold.it/250x250" alt="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
                    <img src="http://placehold.it/250x250" alt="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
                    <img src="http://placehold.it/250x250" alt="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>


    <label for="" class="col-sm-4 col-form-label"></label>
    <label for="" class="col-sm-6 col-form-label">DATOS GENERALES:</label>

    

<div class="form-group row">
    <label for="" class="col-sm-1 col-form-label"></label>
    <label for="" class="col-sm-4 col-form-label br">Longitud total (mm) -- 2794
        <p></p>
        Distancia entre ejes -- 2083
        <p></p>
        Altura del asiento -- 508
        <p></p>
        Peso -- 317.5
        <p></p>
        Ficha técnica Choppers
        <p></p>
        Diámetro de cilindros (mm) -- 4.0 
        <p></p>
        Carrera de cilindros (mm) -- 4.0 
        <p></p>
        Potencia máxima -- 95.0 cv
      </label>
     <p></p>

     <label for="" class="col-sm-1 col-form-label"></label>
     <label for="" class="col-sm-4 col-form-label br">Chasis -- De tubo 0.160"
        <p></p>
        Suspensión delantera -- Montaje con eje oculto de 3.75"
        <p></p>
        Recorrido suspensión delantera (mm) -- 101.6 
        <p></p>
        Suspensión trasera -- Suspensión progresiva
        <p></p>
        Freno delantero -- De 4 pistones
        <p></p>
        Freno trasero -- De 4 pistones
        <p></p>
        Neumático delantero -- 90 mm Avon Venom
        <p></p>
        Neumático trasero -- 280 mm Avon Venom
        <p></p>
        </label>
    </div>